<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa; /* Light shade of blue */
            margin-top: 50px;
        }

        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Oops! Something went wrong.</h4>
        <p>We apologize for the inconvenience. If this is about form,
            please try not submitting it with empty fields.</p>
        <hr>
        <p class="mb-0">If the problem persists, please contact Mammad - mmammadov14194@ada.edu.az</p>
        <button class="btn btn-primary" onclick="goBack()">Go Back</button>
    </div>
</div>
<script>
function goBack() {
  window.history.back();
}


</script>
</body>
</html>
