<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Author</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    .container {
            margin-top: 50px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="card-header bg-primary text-white">
        <h3 class="text-center">Edit Author</h3>
    </div>
    <form th:action="@{/authors/update/{id}(id=${author.id})}" method="post" th:object="${author}">
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName" class="form-control" th:field="*{fullName}" required>
        </div>

        <div class="form-group">
            <label for="birthYear">Birth Year:</label>
            <input type="number" id="birthYear" name="birthYear" class="form-control" th:field="*{birthYear}" required>
        </div>

        <div class="form-group">
            <label for="nationality">Nationality:</label>
            <input type="text" id="nationality" name="nationality" class="form-control" th:field="*{nationality}"
                   required>
        </div>

        <button type="submit" class="btn btn-primary">Update Author</button>
    </form>
</div>
</body>
</html>
